# Node modules
node_modules/
Client/node_modules/
Server/node_modules/

# Build / dist
Client/build/
Client/dist/
Server/dist/
Server/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
Client/.env
Server/.env

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
